* {

}
body {
	background: antiquewhite;
    font-family: Geneva, Tahoma, sans-serif;
}
h1 {
	font-size: 36px;
	margin: 0 0 18;
	border-bottom: 4px solid #eee;
	color: #333;
	font-weight: bold;
	line-height: 1.25;
}
table {
	background: white;
	border-style: solid;
	border-width: thin;
	border-color: #000000;
	border-collapse: collapse;
	cursor: pointer;
}
thead {
	background: darkgray;
	color: black;
	font-weight: bold;
}
#matchesTable td {
    border: thin solid;
    background-color: white;
    padding: 0.35em;
}
.matchesTableResult {
	text-align: center;
}
